<div>
    <h2 translate="fleetApp.device.home.title">Devices</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="device.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="fleetApp.device.home.createLabel">
                        Create new Device
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="fleetApp.device.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="uniqueId"><span translate="fleetApp.device.uniqueId">Unique Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="fleetApp.device.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastUpdate"><span translate="fleetApp.device.lastUpdate">Last Update</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="traccarId"><span translate="fleetApp.device.traccarId">Traccar Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyName"><span translate="fleetApp.device.company">Company</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="device in vm.devices track by device.id">
                    <td><a ui-sref="device-detail({id:device.id})">{{device.id}}</a></td>
                    <td>{{device.name}}</td>
                    <td>{{device.uniqueId}}</td>
                    <td>{{device.status}}</td>
                    <td>{{device.lastUpdate | date:'medium'}}</td>
                    <td>{{device.traccarId}}</td>
                    <td>
                        <a ui-sref="company-detail({id:device.companyId})">{{device.companyName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="device-detail({id:device.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="device.edit({id:device.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="device.delete({id:device.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
