<div>
    <h2 translate="fleetApp.person.home.title">People</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="person.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="fleetApp.person.home.createLabel">
                        Create new Person
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="personType"><span translate="fleetApp.person.personType">Person Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="federalId"><span translate="fleetApp.person.federalId">Federal Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="fleetApp.person.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tradeName"><span translate="fleetApp.person.tradeName">Trade Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span translate="fleetApp.person.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alfaId"><span translate="fleetApp.person.alfaId">Alfa Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="externalId"><span translate="fleetApp.person.externalId">External Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyName"><span translate="fleetApp.person.company">Company</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in vm.people track by person.id">
                    <td><a ui-sref="person-detail({id:person.id})">{{person.id}}</a></td>
                    <td translate="{{'fleetApp.PersonType.' + person.personType}}">{{person.personType}}</td>
                    <td>{{person.federalId}}</td>
                    <td>{{person.name}}</td>
                    <td>{{person.tradeName}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.alfaId}}</td>
                    <td>{{person.externalId}}</td>
                    <td>
                        <a ui-sref="company-detail({id:person.companyId})">{{person.companyName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="person-detail({id:person.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person.edit({id:person.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person.delete({id:person.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
