
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMessageLabel" translate="fleetApp.message.home.createOrEditLabel">Create or edit a Message</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.message.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.message.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="fleetApp.message.messageTime" for="field_messageTime">Message Time</label>
                <div class="input-group">
                    <input id="field_messageTime" type="text" class="form-control" name="messageTime" datetime-picker="{{dateformat}}" ng-model="vm.message.messageTime" is-open="vm.datePickerOpenStatus.messageTime"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('messageTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.messageTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.messageTime.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.messageTime.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="fleetApp.message.macroNumber" for="field_macroNumber">Macro Number</label>
            <input type="number" class="form-control" name="macroNumber" id="field_macroNumber"
                    ng-model="vm.message.macroNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="fleetApp.message.macroText" for="field_macroText">Macro Text</label>
            <input type="text" class="form-control" name="macroText" id="field_macroText"
                    ng-model="vm.message.macroText"
                    ng-maxlength="4000" />
            <div ng-show="editForm.macroText.$invalid">
                <p class="help-block"
                    ng-show="editForm.macroText.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="4000">
                    This field cannot be longer than 4000 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="fleetApp.message.device" for="field_device">Device</label>
            <select class="form-control" id="field_device" name="device" ng-model="vm.message.deviceId" ng-options="device.id as device.name for device in vm.devices"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.device.$invalid">
            <p class="help-block"
                ng-show="editForm.device.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
